
body{
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

// * :not(.slick-track):not(.slick-list):not(a):not(i){
//   -moz-transition: all .3s ease;
//   -webkit-transition-property: all;
//   -webkit-transition-duration: .3s;
//   -webkit-transition-timing-function: ease;
// }

a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active {
  text-decoration: none;
  outline: none;
  -moz-transition: all 0.3s ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
}

ul, li, p{
  display: block;
  padding: 0;
  margin: 0;
}

p{
  color: #8c8f94;
}

h1, h2, h3{
  margin: 0;
  font-family: 'Varela Round', sans-serif;
}

h1{
  font-size: 62px;
}

h2{
  font-size: 42px;
}

h3{
  font-family: Lato, sans-serif;
  font-weight: normal;
  font-size: 26px;
}


//Превый экран........
header {
  padding: 50px;
  // background: url("../img/header-bg.png") no-repeat center/cover;
  background: transparent;
  height: 1043px;
  overflow-y: hidden;
}

.container{
  position: relative;
  max-width: 1170px;
}

.header-top{}

.row{
  align-items: center;
}

#burger{
  cursor: pointer;
  float: left;
  margin-top: 5px;
  margin-right: 30px;
}

.menu-dropdown{
  display: none;
  position: absolute;
  box-shadow: 0 0 20px rgba(61,61,61,.2);
  background: #fff;
  top: 40px;
  padding: 30px;
  width: 160%;
  z-index: 10;
}

.show{
  display: flex;
}

.show-mobile{
  display: block !important;
}

.menu-dropdown__list{
  line-height: 2.5em;
}

.menu-dropdown__list:last-child{
  margin-right: -25px;
}

.menu-dropdown__list li a{
  color: #26272d;
  margin-right: 69px;
  display: block;
}

.menu-dropdown__list li a:hover{
  opacity: 0.4;
}

.menu-part-left{
  display: flex;
}

.menu-part-left a{
  margin-right: 40px;
  color: #000;
}

.menu-part-left a:hover{
  opacity: 0.4;
}

.logo{
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.logo span{
  font-weight: bolder;
}

.wrap{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-part-right a{
  color: #000;
  margin-right: 30px;
}

.menu-part-right a:hover{
  opacity: 0.4;
}

.get-app-btn{
  color: white;
  border-radius: 50px;
  background-color: #267df4;
  padding: 8px 20px 8px 20px;
  display: flex;
}

.get-app-btn:hover{
  color: #267df4;
  background-color: rgba(0,0,0,0.0);
}

.get-app-btn i{
  font-size: 22px;
}

.header-main{
  margin-top: 126px;
  text-align: center;
}

.header-main p {
  width: 783px;
  display: block;
  margin: 45px auto 60px auto;
  font-size: 20px;
}

.header-main a{
  color: #000;
  border: 1px solid #d9dcde;
  border-radius: 50px;
  padding: 15px 40px;

}

.header-main a i{
  font-size: 12px;
}

.header-main a:hover{
  background-color: #4f5053;
  border: 1px solid #4f5053;
  color: #fff;
}

.header-main__iphone{
  margin-top: 60px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.header-top-mobile {
  display: none;
}

#mobile-hamburger{
  display: block;
  margin-left: 20px;
  cursor: pointer;
  float: left;
  width: 20px;
  margin-top: 15px;
  position: relative;
}

#menu-close {
  font-size: 26px;
  color: #fff;
  position: absolute;
  left: 20px;
  top: 10px;
  cursor: pointer;
}

.nav-mobile {
  text-align: center;
  display: none;
  position: absolute;
  width: 95%;
  top: -30px;
  box-shadow: 20px 10px 16px rgba(61,61,61,.15);
  z-index: 30;
}

.nav-mobile__link {
  font-size: 20px;
  display: inline-block;
  width: 100%;
  color: #fff;
  background: rgba(34,35,40,.9);
  padding: 15px 0;
  border-bottom: 1px solid rgba(255,255,255,.6);
  border-radius: 4px;
}

.nav-mobile__link:focus,.nav-mobile__link:hover {
  background: #fff;
  color: #26272d;
}



//секция features--{
section{
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-wrap{
  padding-left: 38px;
  margin-bottom: 118px;
}

.features-wrap-align{
  padding-bottom: 30px;
}

#features h3{
  margin: 40px 0 40px 0;
}

#features p{
  font-size: 18px;
  line-height: 1.4;
}

.line{
  background: rgba(38,39,45,.05);
  height: 1px;
  width: 100%;
}

//iPhone Feature--{

.desc{
  font-size: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  line-height: 1.4;
}

.iPhone-feature__img{
  position: absolute;
  left: -360px;
  top: -130px;
}

.iPhone-feature__btn{
  display: inline-block;
}

.first{
  background-color: #267df4;
  color: #fff;
  border-radius: 50px;
  padding: 10px 20px 10px 25px;
}

.first i{
  margin-left: 50px;
  font-size: 15px;
}

.first:hover{
  color: #fff;
}

.second{
  color: #000;
  border: 1px solid #d9dcde;
  border-radius: 50px;
  padding: 9px 20px 9px 25px;
  margin-left: 25px;
}

.second:hover{
  background-color: #4f5053;
  border: 1px solid #4f5053;
  color: #fff;
}

//map-feature--{

#map-feature{
  padding-top: 350px;
  overflow-x: hidden;
}

.map-feature__map{
  position: absolute;
  right: -340px;
}

.partners{
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #26272d;
  font-weight: 700
}

.dropbox{
  margin-right: 30px;
}

//iPhone-screens--{

#iPhone-screens{
  background: #f5f5f8;
  overflow-x: hidden;
  padding-bottom: 20px;
  text-align: center;
}

#iPhone-screens h2:after{
  content: '';
  width: 50px;
  height: 2px;
  background: #267df4;
  display: block;
  margin: 45px auto 40px auto;
}

.iPhone-screens__desc{
  color: #8c8f94;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .07em;
}

.screens{
  margin-top: 30px;
}

.screen-five,.screen-four,.screen-one,.screen-two {
  width: 20%;
  box-shadow: 20px 20px 30px rgba(61,61,61,.2)
}

.screen-three {
  width: 30%;
  margin-left: -2%
}

.screen-one {
  margin-right: 2%;
  margin-left: -30%
}

.screen-four {
  margin-left: -4%;
  margin-right: 2%
}

.screen-five {
  margin-right: -30%
}

//ready-to-Buy--{

#ready-to-Buy{
  background: #f5f5f8;
  text-align: center;
}

#ready-to-Buy h2:before{
  content: '';
  background: url(../img/logo-2.png) no-repeat center center;
  margin-top: -38px;
  width: 118px;
  height: 10px;
  position: absolute;
  left: 50%;
  margin-left: -59px;
}

.subscribe-form{
  margin: 58px 33px 62px 33px;
}

.subscribe-form input{
  border: rgba(38,39,45,.1) 1px solid;
  border-radius: 30px;
  color: #3a3d4b;
  padding: 14px 26px;
  background: transparent;
  font-size: 16px;
  font-family: Lato,Arial,sans-serif;
  position: relative;
  width: 100%;
}

.subscribe-form input::-moz-placeholder {
  color: #26292c;
  opacity: .7
}

.subscribe-form input::-webkit-input-placeholder {
  color: #26292c;
  opacity: .7
}

.subscribe-form button,.tariffs__item_btn{
  font-size: 16px;
  background-color: #267df4;
  color: #fff;
  padding: 12px 34px;
  margin-right: 20px;
  border-radius: 30px
}

.subscribe-form button i,.tariffs__item_btn i{
  margin-left: 35px
}

.subscribe-form button {
  background: #46c232;
  border: none;
  position: absolute;
  top: 61px;
  right: 33px;
  padding: 12px 30px
}

.subscribe-form button i {
  margin-left: 18px
}

.subscribe-form button:hover {
  background: #1a9517
}

.ready-to-Buy__btn:before{
  content: 'or Download From';
  text-transform: uppercase;
  display: block;
  font-size: 12px;
  opacity: .3;
  margin-bottom: 15px;
  letter-spacing: .08em;
  color: #3a3d4b;
}

ready-to-Buy__btn:hover{
  opacity: .7;
}

//customers--{

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

#customers{
  padding-bottom: 0;
  outline: none;
}

.slider-main-item{
  text-align: center;
}

.img-circle{
  border-radius: 50%;
}

.slider-main{
  top: -90px;
  z-index: 6;
}

.slider-main-item-img{
  width: 128px;
  height: 128px;
  margin: 0 auto
}

.slider-main-item-img img{
  height: 100%;
  box-shadow: 20px 40px 40px rgba(92,95,101,.28);
}

.slider-main-item-title{
  font-size: 32px;
  font-weight: 300;
  margin-top: 64px;
  margin-bottom: 34px;
  color: #26272d
}

.slider-main-item-text{
  font-size: 20px;
  line-height: 1.4;
  color: #8c8f94;
  margin-bottom: 30px;
}

.slider-main-item span{
  color: #f2bc3b;
  margin-right: 6px;
  font-size: 21px
}

.slider-main-item-name{
  text-transform: uppercase;
  font-size: 12px;
  color: #26272d;
  margin-top: 46px;
  font-weight: 700;
  letter-spacing: .08em
}

.slider-header{
  top: 20px;
  z-index: 2;
}

.slider-header-item{
  width: 186px;
  height: 90px;
  opacity: 1;
  -moz-transition: all .3s ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: .3s;
  -webkit-transition-timing-function: ease;
}

.slider-header-item img{
  height: 100%;
  display: block;
  margin: 0 auto;
  opacity: .2;
}

.slick-center {
  opacity: 0!important
}

.slick-prev:before, .slick-next:before{
  content: '';
}

.slick-next{
  right: -45%;
  background-image: url(../img/arrow-next.png);
  width: 22px;
  height: 41px;
}

.slick-prev {
  left: -45%;
  background-image: url(../img/arrow-prev.png);
  width: 22px;
  height: 41px;
}

.slick-prev:hover,
.slick-prev:focus
{
  color: transparent;
  outline: none;
  background: transparent;
  background-image: url(../img/arrow-prev.png);
}

.slick-next:hover,
.slick-next:focus
{
  color: transparent;
  outline: none;
  background: transparent;
  background-image: url(../img/arrow-next.png);
}

//plan--{

#plan{
  background: #f5f5f8;
}

.plan{
  margin-top: 50px;
}

.plan-switch{
  margin-top: 60px;
}

.plan-switch__title {
  font-weight: 700;
  font-size: 12px;
  color: #26272d;
  letter-spacing: .08em;
  text-transform: uppercase;
}

.plan-switch-btns{
  border: rgba(34,35,40,.2) 1px solid;
  width: 260px;
  height: 50px;
  border-radius: 30px;
  margin-top: 20px;
  padding: 11px 4px
}

.plan-switch-btns li{
  display: block;
  float: left;
  margin-right: 5px;
}

.plan-switch-btns li:last-child{
  margin-right: 0px;
}

.plan-switch-btns .active{
  background: #fff;
  opacity: 1;
  box-shadow: 20px 20px 50px rgba(92,95,101,.28);
}

.plan-switch__btn{
  color: #26272d;
  opacity: .4;
  padding: 10px 27px 12px 27px;
  border-radius: 30px;
}

.plan-switch__btn:hover{
  opacity: 1;
  color: #26272d
}

.plan__text{
  margin-top: 74px;
  margin-bottom: 34px;
  font-size: 20px;
  line-height: 1.4;
}

.plan-link{
  font-size: 14px;
  color: #8c8f94;
}

.plan-link a{
  text-decoration: underline;
}

.tariffs-list{}

.tariffs{

}

.tariffs-item{
  text-align: center;
  width: 333px;
  padding: 40px 50px 60px 50px;
  background: #ebebed;
  float: left;
  border-radius: 7px;
  margin-right: 2px;
  -webkit-transform: scale(1,1);
  -webkit-transition-timing-function: ease;
  -webkit-transition-duration: .3s;
  -moz-transform: scale(1,1);
  -moz-transition-timing-function: ease;
  -moz-transition-duration: .3s;
  position: relative;
  z-index: 5
}

.tariffs-item:hover{
  -webkit-transform: scale(1.09,1.09);
  -moz-transform: scale(1.09,1.09);
  background: #fff;
  box-shadow: 20px 30px 50px rgba(92,95,101,.2);
  z-index: 10
}

.tariffs-item__title{
  font-weight: 300;
  color: #26272d;
  font-size: 32px;
  margin-bottom: 20px;
}

.tariffs-item__price {
  text-transform: uppercase;
  color: #26272d;
  letter-spacing: .08em;
  font-size: 11px;
  font-weight: 700;
  border-radius: 30px;
  border: rgba(34,35,40,.2) 1px solid;
  padding: 6px 12px;
  display: inline;
}


.tariffs-item__undertitle{
  color: #8c8f94;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.tariffs-item-list{
  margin-bottom: 50px;
}

.tariffs-item-list li{
  font-size: 16px;
  color: #26272d;
  line-height: 1.7em;
  display: block;
}

.tariffs-item-list i{
  color: #46c232;
  margin-right: 6px;
}

.tariffs-item__btn{
  background: transparent;
  border: #267df4 1px solid;
  color: #267df4;
  margin-right: 0;
  margin-left: 35px;
  padding: 12px 34px;
  margin-right: 20px;
  border-radius: 30px;
}

.tariffs-item__btn:hover{
  background: #267df4;
  color: #fff;
}

#company-tariffs {
  display: none;
}

//subscribe--{

#subscribe{
  text-align: center;
  padding-bottom: 88px;
}

.no-spam{
  font-size: 14px;
  color: #8c8f94;
  margin-top: -40px;
  margin-bottom: 88px
}

//footer--{\

footer{
  padding-bottom: 38px;
}

.left{
  text-align: left;
}

.social{
  margin-bottom: 130px;
}

.social__text{
  font-size: 14px;
  margin-top: 25px;
}

.social__download{
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.social-link a{
  color: #bdbec0;
  font-size: 20px;
  margin-right: 28px;
}

.social-link a:last-child{
  margin-right: 0;
}

.social-link .twitterHover:hover{
  color: #1da1f2;
}

.social-link .facebookHover:hover{
  color: #4267b2;
}

.social-link .google-plusHover:hover{
  color: #4285f4;
}

.social-link .tumblrHover:hover{
  color: #36465d;
}

.social-link .pinterestHover:hover{
  color: #e60023;
}

.social-link .linkedinHover:hover{
  color: #0077b5;
}

.align-items-normal{
  align-items: normal;
}

.menu-footer__list {
  margin: 0 65px 0 0;
  padding: 0;
  float: left;
}

.menu-footer__list li {
  display: block;
  line-height: 2.2em;
}

.menu-footer__list a {
  font-size: 16px;
  color: #8c8f94
}

.menu-footer__list a:hover {
  color: #26272d
}

.menu-footer__list_title {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: #26272d;
  letter-spacing: .08em
}

.footer-link {
  font-size: 14px;
  color: #8c8f94;
  margin-top: 38px
}

.footer-link a {
  color: #3b55e6;
  text-decoration: underline
}

.footer-link a:hover {
  text-decoration: none
}

.copyrights {
  margin-top: 28px
}

.copyrights p {
  font-size: 9px;
  color: #26272d;
  font-weight: 700;
  letter-spacing: .08em;
  margin-right: 7px;
  text-transform: uppercase;
  display: inline
}